<!DOCTYPE html>
<html class="theme-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NLP Prototype - Algorithmic Justice</title>
    <link rel="icon" href="data:," >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <style>
      .longtext {
        height: 70vh;
      }
      .is-responding .highlighted-text {
        opacity: 0.5;
      }
      .passage {
        background-color: orange;
        color: black;
        padding: 0.2em;
      }
      .invisible {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <section class="section" id="app">
      <div class="container is-fluid" :class="{'container': true, 'is-fluid': true, 'is-responding': isResponding}">
        <p :class="['notification', 'is-light', `is-${message.level}`, `${message.content ? '' : 'in'}visible`]">{{ message.content }}</p>
        <div class="tabs is-medium">
          <ul>
            <li v-for="(tab, tabKey) in tabs" @click="onClickTab(tabKey)" :class="{'is-active': tabKey === selectedTab}">
              <a>
                <span v-if="!isServiceWorking && tabKey == 'settings'" class="icon is-small"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>
        <div v-show="selectedTab == 'settings'" id="tab-settings">
          <form class="form">
            <div v-for="(setting, settingKey) in settings" class="field">
              <label class="label" :for="`stg-${settingKey}`">{{ setting.label }}:</label>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <select v-if="setting.type == 'select'" :id="`stg-${settingKey}`" class="select"  v-model="setting.value" @change="onChangedSetting(settingKey)">
                      <option v-for="option in setting.lookupMethod()">{{ option }}</option>
                    </select>
                    <textarea v-if="setting.type == 'textarea'" :id="`stg-${settingKey}`" :type="setting.type" class="textarea" v-model="setting.value" @change="onChangedSetting(settingKey)"></textarea>
                    <input v-if="['text', 'password', ''].includes(setting.type ?? '')" :id="`stg-${settingKey}`" :type="setting.type" :class="['input', getInputClass(settingKey)]" v-model="setting.value" @change="onChangedSetting(settingKey)">
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div v-show="selectedTab == 'highlighter'" id="tab-highlighter">
          <div class="block">
            <h2 class="title is-3">Magistrate's question</h2>

            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="search" v-model="settings.question.value" @keyup.enter="onQuestionEnter()">
              </div>
              <div class="control">
                <button class="button is-info" @click="onQuestionEnter()">
                  Ask
                </button>
              </div>
            </div>
            
          </div>
          <div class="block">
            <h2 class="title is-3">Defendant's statement (with LLM's highlights)</h2>
            <div class="highlighted-text" v-html="higlightedText">
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="settings.js"></script>
    <script src="nlpui.js"></script>
  </body>
</html>